{
    "bot-client-id": "abcdef123456",
    "bot-client-secret": "xyz098765",
    "bot-welcome-message": "Hi, welcome to this race! Roll a seed with !seed",
    "rtgg-game-tag": "sly1",
    "rtgg-game-track-categories": ["S.T.O.P."],
    "rtgg-game-allow-custom": false,
    "rtgg-host": "https://racetime.gg",
    "rtgg-websocket": "wss://racetime.gg",
    "randomizer-web-host": "https://knuutti.github.io/slygolds-randomizer-web",
    "verbose-logging": false
}